.DaskTop {
  @media (max-width: 900px) {
    display: none;
  }
}

.PhoneTop {
  @media (min-width: 901px) {
    display: none;
  }
}

.Logo {
  width: 50px;
  height: 30px;
  background-image: url('../../images/logo.svg');
  background-repeat: no-repeat;
  background-size: cover;
}