.App {
  height: 500px;
  text-align: center;

}

.slider {
  overflow: hidden;
}

.AboutAs {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  top: -350px;
}

.tehnology {
  margin-top: -370px;
}
